<div class="js-pixels">
  <% for(let y = 0; y < 32; y +=1) { %>
    <% for(let x = 0; x < 32; x +=1) { %>
      <span class="js-pixel" data-x="<%= x %>" data-y="<%= y %>" style="display: inline-block; float: left; width: 12px; height: 12px; border: 1px solid #cccccc"></span>
    <% } %>
    <div style="clear: both"></div>
  <% } %>
</div>
<script>
  document.querySelector('.js-pixels').addEventListener('click', (evt) => {
    const x = evt.target.dataset.x
    const y = evt.target.dataset.y
    if (x && y) {
      setState({action: 'setPixel', x, y})
    }
  })
  function didSetState(state) {
    console.log('didSetState', state)
  }
</script>
