<div class="mode__form">
  <label class="mode__form__label" for="clock-select">
    Time format
  </label>
  <div class="mode__form__input select js-select">
    <span class="select__text js-select-text"></span>
    <select class="select__input js-select-input" id="clock-select">
      <option>24H</option>
      <option>AM/PM</option>
    </select>
  </div>
  <label class="mode__form__label" for="clock-checkbox">
    Show seconds
  </label>
  <div class="mode__form__input">
    <input type="checkbox" class="checkbox" id="clock-checkbox">
  </div>
  <label class="mode__form__label" for="clock-color">
    Clock color
  </label>
  <div class="mode__form__input">
    <input type="text" class="text" id="clock-color">
  </div>
</div>
