<button class="mode-inner-button js-randomize">Randomize</button>
<script>
  (() => {
    const m = {}
    window.BoxelModes.random = m
    m.setUiFromState = function(data) {
      console.log('update random from', data)
    }
    document.querySelector('.js-randomize').addEventListener('click', () => {
      window.BoxelSetStateFromUi({
        mode: 'random',
        data: {
          someDate: new Date().toString(),
        },
      })
    })
  })()
</script>
