<button class="js-randomize">Randomize</button>
<script>
  document.querySelector('.js-randomize').addEventListener('click', () => {
    setState({action: 'randomize'})
  })
  function didSetState(state) {
    console.log('didSetState', state)
  }
</script>
