<button class="button button--orange js-randomize">Randomize</button>
<script>
  (() => {
    const m = {}
    window.BoxelModes.random = m
    m.onStateUpdate = function(data) {
      // Nothing to do when receiving a state update
    }
    document.querySelector('.js-randomize').addEventListener('click', () => {
      window.BoxelSetCurrentModeData({})
    })
  })()
</script>
