<button class="button button-orange js-randomize">Randomize</button>
<script>
  (() => {
    const m = {}
    window.BoxelModes.random = m
    m.onStateUpdate = function(data) {
      console.log('update random from', data)
    }
    document.querySelector('.js-randomize').addEventListener('click', () => {
      window.BoxelSetCurrentModeData({
        someDate: new Date().toString(),
      })
    })
  })()
</script>
