.footer-buttons {
  margin: 30px 0 0 0;
  text-align: center;
}

.footer {
  text-align: center;
  font-size: 14px;
  color: #999999;
  margin: 20px 0 30px 0;
  line-height: 22px;
}

.footer__link {
  color: #999999;
  text-decoration: underline;
}
