No options available for this mode.
<label class="select">
  <span>Option 1</span>
  <select class="select__input">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3 with more text</option>
  </select>
</label>
<label class="checkbox">
  <input type="checkbox" class="checkbox__input">
  Checkbox label
</label>
